html {
	font-family: "Times New Roman", serif, sans-serif;
}


h1,h2 {
	color:red;
	text-shadow: 2px,2px,5px black;
	font-size: 30px;
	font-style:oblique;

}
div h1 {
	color: green;
}
body {
	background-color: #444;
	text-align:
 center;


}

a {
	text-decoration:none;
	color:red;
	font-size: 30px;
	text-transform:uppercase;
}

.formating {
	color:green;

	font-size:25px;
	line-height:2em;
}

